
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: linear-gradient(rgba(150, 146, 146, 0.356), rgba(53, 38, 38, 0.479)), url('./img/bg.jpg');    
    background-image: cover;
    color: aliceblue;

}

a{
    color: aliceblue;
}

#about{
    height: 100vh;
}

.aboutInfo{
    background-color: #c4d9cd;
    color: rgb(56, 54, 54);
    margin-top: 1%;
    padding: 2%;
    font-size: 100%;
}

.aboutInfo>ul>li{
    margin-top: 2%;
}

#contact {
    height: 100vh;
    padding-top: 5%;
    text-align: center;
}

h3{
    text-align: center;
    margin-top: -1%;
    font-size: 
}

#home{
    background-color: bisque;
    height:fit-content;
}

header>nav>ul>li{
    display: inline-block;
    list-style: none;
    margin-top: 0;
    position: relative;
}

#intro {
    height: 100vh;
    padding-top: 5%;
}
nav{
    margin-top: -9%;
    margin-left: 85%;
    position: fixed;
    text-align: right;
    width: auto;
}

nav>ul>li>a{
    display: inline-block;
    list-style: none;
    margin-left: 2%;
}

#nameId {
    margin-top: 20%;
    margin-left: 10%;
}

.section{
    margin-top: 10%;
}

.social{
    border-radius: 50%;
    margin-top: 20%;
    padding: 2%;
    text-align: center;
    width: 10%;
}
#profilePicture{
    border-radius:50%;
    width: 40%;
    position: absolute;
    margin-top: 10%;
    padding: 2%;
    text-align: right;
    margin-left: 54%;
    margin-top: -6%;
}